
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    display: flex;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .property-card {
    height: 18em;
    width: 14em;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  }
  
  .property-image {
    height: 6em;
    width: 14em;
    padding: 1em 2em;
    position: absolute;
    top: 0px;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .property-description {
    background-color: #fafafc;
    height: 12em;
    width: 14em;
    position: absolute;
    bottom: 0em;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
  }
  
  .property-social-icons {
    position: absolute;
    bottom: 2px;
    margin-left: 37px;
  }
  
  .property-card:hover .property-description {
    height: 0em;
    padding: 0px 1em;
  }
  
  .property-card:hover .property-image {
    height: 18em;
  }
  
  .property-image-title {
    text-align: center;
    position: relative;
    top: 30%;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    color: black;
    font-size: 1.2em;
  }
  
  .property-card:hover .property-image-title {
    opacity: 1;
  }
  .details{
    position: absolute;
    margin-top:28%;
    width: 60%;
  }